li(id=user.irc)
  h3
    a( href=photo_for( user ) ): img( src=photo_for( user ) )
    = user.name

  ul
    - if ( user.irc )
      li.irc IRC nick: #{user.irc}

    - if ( user.twitter )
      li.twitter Twitter:
        a( href="http://twitter.com/" + user.twitter, class="twitter-anywhere-user" ) @#{user.twitter}

    - if ( user.github )
      li.github GitHub: 
        a( href="https://github.com/" + user.github )= user.github

    li.location Location: #{user.location}
      a( href="http://maps.google.com/maps?&amp;q=" + (user.coords || user.location), title="Show it on a big map" )
        img( src="http://maps.google.com/maps/api/staticmap?center=" + (user.coords || user.location) + "&amp;zoom=14&amp;size=175x175&amp;maptype=roadmap&amp;sensor=false", width="175", height="175" )

    - if ( user.occupation )
      li.occupation Occupation: 
        != user.occupation

    - if ( user.birthday )
      li.birthday Birthday: #{user.birthday}
      
    - if ( user.website )
      li.website Website: 
        a( href=user.website )= user.website
